@{
    ViewBag.Title = "Home Page";
}
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <div data-bind="with:Order">
                    <label>Client:</label>
                    <input type="text" data-bind="textInput:Client,disable:$root.IsLoading" />
                    <label>Amount:</label>
                    <input type="text" data-bind="textInput:Amount,disable:$root.IsLoading" />                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bind="click:$root.save,disable:$root.IsLoading">Registrar</button>
            </div>
        </div>
    </div>
</div>
<div class="page-header">
    <h1>Registro de Ordenes</h1>
</div>
<div class="container-fluid">
    <p>
        <button class="btn btn-success"
                data-bind="click:showNewOrderDialog">Agregar Orden</button>    
    </p>
    <div>
        <table class="table table-bordered table-condensed table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Client</th>
                    <th>Amount</th>                    
                </tr>
            </thead>
            <tbody data-bind="foreach:Orders">
                <tr>
                    <td data-bind="text:Id"></td>
                    <td data-bind="text:Client"></td>
                    <td data-bind="text:Amount"></td>                    
                </tr>
            </tbody>
        </table>
    </div>
</div>
@section scripts{
<script src="~/Scripts/knockout-3.4.0.js"></script>
<script src="~/Scripts/knockout.mapping.js"></script>
<script src="~/Scripts/Order.js"></script>
<script src="~/Scripts/OrdersViewModelSlow.js"></script>
<script>
    var vm = new OrdersViewModel();
    ko.applyBindings(vm);
</script>
}